<div class="row" style="margin-bottom: 50px;background: #f0f0f0">
    <div class="col-sm-4" style="padding: 10px;">
        {% include card.html title="The Duet ft. Philippe d' Ercole" url="/assets/the_duet_ercole.jpg" content="Serata Jazz con il gruppo che ha infiammato i migliori Jaxzz club di Francia!" link="http://armaveirana.it" %}
    </div>
    <div class="col-sm-4" style="padding: 10px;">
        {% include card.html title="Arma veirana" url="/assets/armaveirana_card.jpg" content="Sito archeologico di importanza internazionale nel Comune di Erli" link="http://armaveirana.it" %}
    </div>
    <div class="col-sm-4" style="padding: 10px;">
        {% include card.html title="Sagra" url="/assets/sagra_card.jpg" content="Da anni la Sagra di Erli coniuga tradizione e divertimento"%}
    </div>
</div>