<div class="row" style="margin-bottom: 50px;">
    <div class="col-sm-6" style="padding: 10px;">
        {% include card.html title="Arma veirana" url="/assets/armaveirana_card.jpg" content="Sito archeologico di importanza internazionale nel Comune di Erli" link="http://armaveirana.it" %}
    </div>
    <div class="col-sm-6" style="padding: 10px;">
        {% include card.html title="Sagra" url="/assets/sagra_card.jpg" content="Da anni la Sagra di Erli coniuga tradizione e divertimento"%}
    </div>
</div>