<div class="row" style="margin-bottom: 30px;background: #f0f0f0;padding: 5px;padding-top:15px;">
    <div class="col-sm-5">
        <a target="_blank" href="https://drive.google.com/open?id=19CNwIUkSoG7aFF7vL9sVUm_13Wcrm1s9">
            <img class="card-img-top" style="width:100%;" src="/assets/giornalino-2018-2019-cover.jpg" alt="Giornalino Proloco Erli 2018/2019">
        </a>
    </div>
    <div class="col-sm-7" style="text-align: center;">
        <h5><a target="_blank" href="https://drive.google.com/open?id=19CNwIUkSoG7aFF7vL9sVUm_13Wcrm1s9" >Giornalino 2018/2019</a></h5>
        <p>
            Anche il 2019 è stato un anno di impegno e di bellissime iniziative volte a valorizzare il nostro paese.
            <br>Come tutti gli anni riassumiamo le attività svolte, i progetti e le iniziative future nel nostro giornalino. Buona lettura!!!!
            <br>
            <a target="_blank" href="https://drive.google.com/open?id=19CNwIUkSoG7aFF7vL9sVUm_13Wcrm1s9">Clicca per visualizzare il giornalino 2018/2019</a>
        </p>
    </div>
</div>