<div class="row" style="margin-bottom: 30px;">
    <div class="col-sm-8">
        <a href="https://drive.google.com/file/d/1JEMsDArMdt6_oNP1bGNWQt6LkvJ0bkcd/view?usp=sharing">
            <img class="card-img-top" style="width:100%;" src="/assets/paleovalneva.jpg" alt="Paleovalneva">
        </a>
    </div>
    <div class="col-sm-4" style="text-align: center;">
        <h5><a href="https://drive.google.com/open?id=1Jxu12SrCBZpIkSbFAm1rIXCzjWLot-wj" >#Paleovalneva</a></h5>
        <p> 
Il <strong>28 Luglio</strong> <small>Una giornata tra <strong>natura e storia</strong>. 
Percorso naturalistico verso la grotta dell'<a href="http://armaveirana.it">Arma Veirana</a>, illustrazione e approfondimenti da parte dei ricercatori impegnati negli scavi. 
<br>Trekking, visite guidate tra le borgate, laboratori e buona cucina! <a href="https://drive.google.com/open?id=1Jxu12SrCBZpIkSbFAm1rIXCzjWLot-wj" >Per info</a>
<br>
</small>

</p>
    </div>
</div>