<div class="row" style="margin-bottom: 30px;background: #f0f0f0;padding: 5px;padding-top:15px;">
    <div class="col-sm-7">
        <a href="http://bit.ly/paleovalneva2019">
            <img class="card-img-top" style="width:100%;" src="/assets/paleovalneva2019.jpg" alt="Paleovalneva">
        </a>
    </div>
    <div class="col-sm-5" style="text-align: center;font-size: 16px;">
        <p>Dopo il successo dell'anno scorso, torna l'appuntamento con <strong>Paleovalneva!!!!</strong><br>
            Occasione unica per un <strong>trekking culturale </strong>immersi nella natura alla scoperta del sito archeologico internazionale dell'<strong>Arma Veirana ad Erli</strong>.<br>
            
            Una giornata alla scoperta dell'uomo di Neandertal, con visite guidate agli scavi accompagnati dai ragazzi del <a target="_blank" href="https://www.facebook.com/FAIGiovaniAlbengaAlassio/">FAI Giovani</a>, laboratori a tema e tanto divertimento.
            La sera vi aspetta la buona cucina della <a target="_blank" href="https://prolocovaldinevaerli.it">Pro Loco di Erli</a> e la <strong>conferenza del Prof. Fabio Negrino dell'Università di Genova</strong> con l'intervento dell'<a target="_blank" href="http://www.iisl.it/">Istituto di Studi Liguri</a>!
            
            Quest'anno parteciperanno anche gli amici del <a href="https://www.caialbenga.it/" target="_blank">CAI di Albenga!</a><br> 
            Non potete mancare!
            <br>
            <a href="http://bit.ly/paleovalneva2019" target="_blank">Clicca qui per informazioni dettagliate.</a> 
            </p>
    </div>
</div>